<div id="lwrap">
    <div id="left" *ngIf="group">
        <h5><a router="/">Home</a> : <a router="/software/">Software</a>
            : {{group.name}}</h5>
        <article>
            <h1>{{group.name}}</h1>
            <table class="swList">
                <tbody>
                    <tr *ngFor="let s of soft_list">
                        <td><a [routerLink]="['/software', s.id]">
                                <div class="swIcon icon1"></div>
                            </a></td>
                        <td>
                            <p class="swName"><a [routerLink]="['/software', s.id]">{{s.name}}
                                    <span class="osIcon mac" title="Mac"></span></a></p>
                            <p>An office suite program that preceded the Apple iWork suite</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
<div id="right">
    <h5><a [routerLink]="['/software/group', pre.id]" *ngIf="pre">‹ {{pre.name}}</a> | <a
            [routerLink]="['/software/group', next.id]" *ngIf="next">{{next.name}} ›</a></h5>
</div>