<h1 class="hs">FileInfo</h1>
<h2 class="hs">The File Information Database</h2>
<div class="homeSearch">
    <form action="/search" method="post" name="hsearch">
        <input type="text" name="hterm" id="hterm" placeholder="e.g. txt, csv, log, dat" autofocus=""
            autocomplete="off">
        <button type="submit" id="hs">Search</button>
    </form>
    <p>Search over 10,000 file extensions and software programs. &nbsp; <a
            router-link='/search'>Advanced&nbsp;Search</a></p>
</div>
<div class="homeBreak"></div>
<div id="lwrap">
    <div id="left">
        <h4 class="pad">Today's File Type – March 31st</h4>
        <table class="homeTable">
            <tbody>
                <tr>
                    <td><a href="https://fileinfo.com/extension/bat">
                            <div class="fileIcon f1" title="Microsoft Windows 10 Icon"></div>
                        </a></td>
                    <td>
                        <p class="daily"><a href="https://fileinfo.com/extension/bat">.BAT</a></p>
                        <p>DOS Batch File</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="homeExt">A BAT file is a DOS batch file used to execute commands with the Windows Command Prompt
            (cmd.exe). It contains a series of line commands in plain text that are executed to perform various
            tasks, such as starting programs or running maintenance utilities within Windows.
            &nbsp; <b><a href="https://fileinfo.com/extension/bat">View&nbsp;more&nbsp;»</a></b></p>
        <div class="previousTypes closed">
            <a class="drawerToggle" id="showPreviousTypes" data-nextdate="2021-03-30"><span><svg viewBox="0 0 9 14"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="m0 14 9-7-9-7z"></path>
                    </svg></span>
                View Previous File Types</a>
            <div class="drawer"></div>
        </div>
        <hr>
        <article>
            <h3>Navigate FileInfo.com</h3>
            <table class="navLinks">
                <tbody>
                    <tr>
                        <td><a href="https://fileinfo.com/search" class="navButton">Search</a></td>
                        <td>Search the entire FileInfo database.</td>
                    </tr>
                    <tr>
                        <td><a href="https://fileinfo.com/browse/" class="navButton">Browse</a></td>
                        <td>Browse file types and file extensions.</td>
                    </tr>
                    <tr>
                        <td><a href="https://fileinfo.com/software/" class="navButton">Software</a></td>
                        <td>Read software program reviews.</td>
                    </tr>
                    <tr>
                        <td><a href="https://fileinfo.com/help/" class="navButton">Help Center</a></td>
                        <td>Find answers to file-related questions.</td>
                    </tr>
                    <tr>
                        <td><a href="https://fileinfo.com/tutorials/" class="navButton">Tutorials</a></td>
                        <td>Watch helpful file-related video tutorials.</td>
                    </tr>
                    <tr>
                        <td><a href="https://fileinfo.com/developers" class="navButton">Developers</a></td>
                        <td>Submit your file types and file extensions.</td>
                    </tr>
                </tbody>
            </table>
            <h3>Universal File Viewers</h3>
            <table class="navLinks">
                <tbody>
                    <tr>
                        <td><a href="https://fileinfo.com/software/windows_file_viewer" class="navButton">Windows</a>
                        </td>
                        <td>File Viewer Plus for Windows</td>
                    </tr>
                    <tr>
                        <td><a href="https://fileinfo.com/software/mac_file_viewer" class="navButton">Mac</a></td>
                        <td>File Viewer for Mac</td>
                    </tr>
                    <tr>
                        <td><a href="https://fileinfo.com/software/android_file_viewer" class="navButton">Android</a>
                        </td>
                        <td>File Viewer for Android</td>
                    </tr>
                </tbody>
            </table>
            <h3>Related Sites</h3>
            <table class="navLinks">
                <tbody>
                    <tr>
                        <td><a href="https://techterms.com/" class="navButton">TechTerms</a></td>
                        <td>The Tech Terms Computer Dictionary</td>
                    </tr>
                    <tr>
                        <td><a href="https://slangit.com/" class="navButton">Slangit</a></td>
                        <td>The <a href="https://slangit.com/">Slang Dictionary</a></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
<div id="right">
    <h4 class="pad"><a href="https://fileinfo.com/about">About FileInfo</a></h4>
    <div class="top">
        <p>Need a <b>File Viewer</b>?<br>Choose your platform:</p>
        <a href="https://fileinfo.com/software/windows_file_viewer" class="navButton dl">Windows</a>
        <a href="https://fileinfo.com/software/mac_file_viewer" class="navButton dl">Mac</a>
    </div>
    <div class="listBox">
        <p>Weekly Top Extensions</p>
        <table class="topList">
            <tbody>
                <tr>
                    <td>—</td>
                    <td>1.</td>
                    <td><a href="https://fileinfo.com/extension/apk">.APK</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>—</td>
                    <td>2.</td>
                    <td><a href="https://fileinfo.com/extension/pdf">.PDF</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>—</td>
                    <td>3.</td>
                    <td><a href="https://fileinfo.com/extension/rar">.RAR</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>—</td>
                    <td>4.</td>
                    <td><a href="https://fileinfo.com/extension/zip">.ZIP</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>—</td>
                    <td>5.</td>
                    <td><a href="https://fileinfo.com/extension/epub">.EPUB</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>—</td>
                    <td>6.</td>
                    <td><a href="https://fileinfo.com/extension/mp4">.MP4</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="green">▲</td>
                    <td>7.</td>
                    <td><a href="https://fileinfo.com/extension/net">.NET</a></td>
                    <td class="prevrank">+1</td>
                </tr>
                <tr>
                    <td class="red">▼</td>
                    <td>8.</td>
                    <td><a href="https://fileinfo.com/extension/exe">.EXE</a></td>
                    <td class="prevrank">-1</td>
                </tr>
                <tr>
                    <td>—</td>
                    <td>9.</td>
                    <td><a href="https://fileinfo.com/extension/null">.NULL</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>—</td>
                    <td>10.</td>
                    <td><a href="https://fileinfo.com/extension/json">.JSON</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="topExt">
                    <td>—</td>
                    <td>11.</td>
                    <td><a href="https://fileinfo.com/extension/jpg">.JPG</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="topExt">
                    <td class="green">▲</td>
                    <td>12.</td>
                    <td><a href="https://fileinfo.com/extension/7z">.7Z</a></td>
                    <td class="prevrank">+2</td>
                </tr>
                <tr class="topExt">
                    <td class="red">▼</td>
                    <td>13.</td>
                    <td><a href="https://fileinfo.com/extension/txt">.TXT</a></td>
                    <td class="prevrank">-1</td>
                </tr>
                <tr class="topExt">
                    <td class="green">▲</td>
                    <td>14.</td>
                    <td><a href="https://fileinfo.com/extension/dat">.DAT</a></td>
                    <td class="prevrank">+1</td>
                </tr>
                <tr class="topExt">
                    <td class="red">▼</td>
                    <td>15.</td>
                    <td><a href="https://fileinfo.com/extension/ics">.ICS</a></td>
                    <td class="prevrank">-2</td>
                </tr>
                <tr class="topExt">
                    <td class="green">▲</td>
                    <td>16.</td>
                    <td><a href="https://fileinfo.com/extension/bin">.BIN</a></td>
                    <td class="prevrank">+1</td>
                </tr>
                <tr class="topExt">
                    <td class="red">▼</td>
                    <td>17.</td>
                    <td><a href="https://fileinfo.com/extension/heic">.HEIC</a></td>
                    <td class="prevrank">-1</td>
                </tr>
                <tr class="topExt">
                    <td class="green">▲</td>
                    <td>18.</td>
                    <td><a href="https://fileinfo.com/extension/db">.DB</a></td>
                    <td class="prevrank">+2</td>
                </tr>
                <tr class="topExt">
                    <td class="red">▼</td>
                    <td>19.</td>
                    <td><a href="https://fileinfo.com/extension/eml">.EML</a></td>
                    <td class="prevrank">-1</td>
                </tr>
                <tr class="topExt">
                    <td class="red">▼</td>
                    <td>20.</td>
                    <td><a href="https://fileinfo.com/extension/tmp">.TMP</a></td>
                    <td class="prevrank">-1</td>
                </tr>
                <tr class="topExt">
                    <td class="green">▲</td>
                    <td>21.</td>
                    <td><a href="https://fileinfo.com/extension/csv">.CSV</a></td>
                    <td class="prevrank">+2</td>
                </tr>
                <tr class="topExt">
                    <td class="red">▼</td>
                    <td>22.</td>
                    <td><a href="https://fileinfo.com/extension/eps">.EPS</a></td>
                    <td class="prevrank">-1</td>
                </tr>
                <tr class="topExt">
                    <td class="red">▼</td>
                    <td>23.</td>
                    <td><a href="https://fileinfo.com/extension/crdownload">.CRDOWNLOAD</a></td>
                    <td class="prevrank">-1</td>
                </tr>
                <tr class="topExt">
                    <td>—</td>
                    <td>24.</td>
                    <td><a href="https://fileinfo.com/extension/vtt">.VTT</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="topExt">
                    <td>—</td>
                    <td>25.</td>
                    <td><a href="https://fileinfo.com/extension/png">.PNG</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="show">
                    <td colspan="4"><a href="https://fileinfo.com/#">Show More...</a></td>
                </tr>
                <tr class="hide">
                    <td colspan="4"><a href="https://fileinfo.com/#">Show Less...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><b>Recent Updates</b></p>
    <ul class="side">
        <li><b>February 4, 2021</b><a href="https://fileinfo.com/software/windows_file_viewer">File Viewer Plus</a>
            4.0.1 is now available.</li>
        <li><b>January 26, 2021</b>Learn about <a href="https://fileinfo.com/help/macos_package">macOS packages</a>
            and how to view the contents of a package.</li>
        <li><b>December 21, 2020</b><a href="https://fileinfo.com/software/android_file_viewer">File Viewer for
                Android</a> 3.6 is now available.</li>
        <li><b>September 9, 2020</b>Sort programs by pricing and platform on file extension pages.</li>
        <li><b>July 23, 2020</b>Pricing information is now listed next to each program on file extension pages.</li>
        <li><b>May 22, 2020</b>Watch how to <a
                href="https://fileinfo.com/tutorials/resume_download_google_chrome">resume downloads</a> in Google
            Chrome.</li>
    </ul>
</div>