<div id="lwrap">
    <div id="left">
        <h5><a routerLink="/">Home</a> : <a routerLink="/browse">File Types</a>
            : {{type.name}} File</h5>
        <article>
            <h1><b>{{type.name}}</b><span class="filext"> File Extension</span></h1>

            <section id="filemaker_pro_database_memo_file" class="ext">
                <h2><span class="fileType">File Type </span>{{type.type}}</h2>
                <div class="fileHeader">
                    <div class="fileIcon default" title="Document Icon"></div>
                    <table class="headerInfo">
                        <tbody>
                            <tr>
                                <td>Developer</td>
                                <td>{{type.developer}}</td>
                            </tr>
                            <tr>
                                <td>Popularity</td>
                                <td>
                                    <div id="ursHolder30" class="ursHolder" data-termname="fpt">
                                        <div id="ratingStar130" class="star1 hoverStar fullStar starImg ratingStar30"
                                            data-termid="30" data-starnum="1" style="display: block;"></div>
                                        <div class="star1 hoverStar starImg emptyStar hidden greyStar30"
                                            data-termid="30" data-starnum="1" style="display: none;"></div>
                                        <div id="userStar130" class="star1 hoverStar starImg userStar hidden userStar30"
                                            data-termid="30" data-starnum="1" style="display: none;"></div>
                                        <div id="ratingStar230" class="star2 hoverStar starImg ratingStar30 fullStar"
                                            data-termid="30" data-starnum="2" style="display: block;"></div>
                                        <div class="star2 hoverStar starImg emptyStar hidden greyStar30"
                                            data-termid="30" data-starnum="2" style="display: none;"></div>
                                        <div id="userStar230" class="star2 hoverStar starImg userStar hidden userStar30"
                                            data-termid="30" data-starnum="2" style="display: none;"></div>
                                        <div id="ratingStar330" class="star3 hoverStar starImg ratingStar30 fullStar"
                                            data-termid="30" data-starnum="3" style="display: block;"></div>
                                        <div class="star3 hoverStar starImg emptyStar hidden greyStar30"
                                            data-termid="30" data-starnum="3" style="display: none;"></div>
                                        <div id="userStar330" class="star3 hoverStar starImg userStar hidden userStar30"
                                            data-termid="30" data-starnum="3" style="display: none;"></div>
                                        <div id="ratingStar430" class="star4 hoverStar starImg ratingStar30 halfStar"
                                            data-termid="30" data-starnum="4" style="display: block;"></div>
                                        <div class="star4 hoverStar starImg emptyStar hidden greyStar30"
                                            data-termid="30" data-starnum="4" style="display: none;"></div>
                                        <div id="userStar430" class="star4 hoverStar starImg userStar hidden userStar30"
                                            data-termid="30" data-starnum="4" style="display: none;"></div>
                                        <div id="ratingStar530" class="star5 hoverStar starImg ratingStar30 emptyStar"
                                            data-termid="30" data-starnum="5" style="display: block;"></div>
                                        <div class="star5 hoverStar starImg emptyStar hidden greyStar30"
                                            data-termid="30" data-starnum="5" style="display: none;"></div>
                                        <div id="userStar530" class="star5 hoverStar starImg userStar hidden userStar30"
                                            data-termid="30" data-starnum="5" style="display: none;"></div>
                                        <div id="ratingNum30" class="ratingNum">
                                            <div class="ratingsTotals">
                                                <span id="avgVote30" class="avgVote">3.4</span>
                                                (<span id="voteCount30" class="voteCount">25</span>
                                                <span id="voteWord30" class="voteWord"> Votes</span>)
                                                <span id="voteThanks30" class="voteThanks hidden"></span>
                                            </div>
                                        </div>
                                        <div id="ratingMsgDiv30" class="ratingMsgDiv">
                                            <span id="rateMsg30" class="ratingMsg" style="display: none;">Common</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td><a href="https://fileinfo.com/filetypes/database">Database Files</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Format</td>
                                <td><a href="https://fileinfo.com/extension/fpt" class="formatButton"
                                        data-id="0">N/A</a>
                                    <div class="format"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="question">What is an FPT file?</h2>
                <div class="infoBox">
                    <p>{{type.info}}</p>
                </div>
                <div class="tab">More Information</div>
                <div class="infoBox">
                    <p>{{type.more_info}}</p>
                </div>
                <a href="https://fileinfo.com/software/windows_file_viewer?ref=30" class="fv">
                    <div class="promo">FREE DOWNLOAD</div> Open over 400 file formats with File Viewer Plus.
                </a>
                <div class="programsheading">
                    <h2 class="question programsquestion">Programs that open FPT files</h2>
                    <div class="programsmenu">
                        <button class="sort">Sort</button>
                        <div class="sortmenu">
                            <div class="sortoptions">
                                <button class="psort" data-sort="license">Pricing</button>
                                <button class="psort" data-sort="program">Program Name</button>
                                <button class="psort" data-sort="platform">Platform</button>
                            </div>
                            <button class="sort-reset">Reset</button>
                        </div>
                        <button class="licenseheading" aria-label="pricing details"></button>
                        <div class="licenseinfo">
                            <div class="licenseinfox"><a href="https://fileinfo.com/extension/fpt" aria-label="close"
                                    style="outline: none;">X</a></div>
                        </div>
                    </div>
                </div>
                <div class="programsBox infoBox">
                    <div class="programs">
                        <div class="platformwrapper">
                            <div class="platform">
                                <div class="platIcon win"></div>Windows
                            </div>
                            <div class="apps">
                                <div class="app">
                                    <div class="appIcon a11"></div>
                                    <div class="appmid">
                                        <div class="program"><a
                                                href="https://fileinfo.com/software/filemaker/filemaker_pro">FileMaker
                                                Pro Advanced</a></div><span class="license trial">Free
                                            Trial</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programs">
                        <div class="platformwrapper">
                            <div class="platform">
                                <div class="platIcon mac"></div>Mac
                            </div>
                            <div class="apps">
                                <div class="app">
                                    <div class="appIcon a12"></div>
                                    <div class="appmid">
                                        <div class="program"><a
                                                href="https://fileinfo.com/software/filemaker/filemaker_pro">FileMaker
                                                Pro Advanced</a></div><span class="license trial">Free
                                            Trial</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adBotLB">
                    <div id="div-gpt-ad-1589912704162-0">
                        <script>
                            googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589912704162-0'); });
                        </script>
                    </div>
                </div>
                <div class="extDate">Updated 1/29/2010</div>
            </section>
        </article>
        <div class="fileinfo">
            <h4>About FPT Files</h4>
            <p>{{type.about}}</p>
        </div>
    </div>
</div>
<div id="right">
    <h5><a href="https://fileinfo.com/extension/fpsx">‹ .FPSX</a> | <a href="https://fileinfo.com/extension/fpx">.FPX
            ›</a></h5>
    <div class="linkAds">
        <script async="" src="./FPT File Extension - What is an .fpt file and how do I open it__files/f.txt"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0087137714961591"
            data-ad-slot="6153797207" data-ad-format="link"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <div class="adRightSky" style="position: fixed; top: 46px;">
        <div id="div-gpt-ad-1589922359625-0">
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589922359625-0'); });
            </script>
        </div>
    </div>
</div>