<div id="lwrap">
    <div id="left">
        <h5><a href="https://fileinfo.com/">Home</a> : <a href="https://fileinfo.com/software/">Software</a>
            : <a href="https://fileinfo.com/software/browse">Browse</a> : Productivity Software</h5>
        <h1 class="h2 circle"><a href="https://fileinfo.com/browse/" class="medCircle">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m16 2c-1.257812 0-2.152344.890625-2.59375 2h-8.40625v25h22v-25h-8.40625c-.441406-1.109375-1.335937-2-2.59375-2zm0 2c.554688 0 1 .445313 1 1v1h3v2h-8v-2h3v-1c0-.554687.445313-1 1-1zm-9 2h3v4h12v-4h3v21h-18zm14.28125 7.28125-6.28125 6.28125-3.28125-3.28125-1.4375 1.4375 4 4 .71875.6875.71875-.6875 7-7z">
                    </path>
                </svg></a>Productivity Software</h1>
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <table class="slist browselist dataTable no-footer" data-sort="1" id="DataTables_Table_0" role="grid">
                <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-label="Software Program: activate to sort column ascending" style="width: 402px;">
                            Software Program</th>
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Rating: activate to sort column descending"
                            style="width: 296px;">
                            Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" *ngFor="let s of soft_list">
                        <td><a [routerLink]="['/software', s.id]">{{s.name}}</a></td>
                        <td class="sorting_1"><span class="hidden">132</span><span class="rtg five"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="adBotLB">
            <div id="div-gpt-ad-1589913000288-0">
                <script>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589913000288-0'); });
                </script>
            </div>
        </div>
    </div>
</div>
<div id="right">
    <h5>All Categories</h5>
    <ul class="cnav">
        <li *ngFor="let category of categories; let last = last"
            [ngClass]="                                                                                                                                                                                                                                                                                                                                            { last: last }">
            <a [routerLink]="['/software/category', category.id]">{{category.name}}</a>
        </li>
    </ul>
</div>
<div class="adRightSky" style="position: fixed; top: 46px;">
    <div id="div-gpt-ad-1589922228072-0">
        <script>
            googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589922228072-0'); });
        </script>
    </div>
</div>