<div id="lwrap">
    <div id="left">
        <h5><a href="https://fileinfo.com/">Home</a> : Browse File Types</h5>
        <article class="browse">
            <h1 class="h2 circle"><a href="https://fileinfo.com/" class="largeCircle">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m6 5c-1.105469 0-2 .894531-2 2s.894531 2 2 2 2-.894531 2-2-.894531-2-2-2zm5 1v2h17v-2zm-5 8c-1.105469 0-2 .894531-2 2s.894531 2 2 2 2-.894531 2-2-.894531-2-2-2zm5 1v2h17v-2zm-5 8c-1.105469 0-2 .894531-2 2s.894531 2 2 2 2-.894531 2-2-.894531-2-2-2zm5 1v2h17v-2z">
                        </path>
                    </svg></a>Browse File Types</h1>
            <div class="category">
                <h3>Browse by Category</h3>
                <ul class="category-list">
                    <li *ngFor="let category of categories" class="category-item">
                        <a [routerLink]="['/filetypes', category.id]">{{category.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="alpha">
                <h3>Browse Extensions Alphabetically</h3>
                <ul class="alphabet-list">
                    <li class="alphabet-item">
                        <a [routerLink]="['/list/1']">#</a>
                    </li>
                    <li *ngFor="let el of alphabet" class="alphabet-item">
                        <a [routerLink]="['/list', el]">{{el}}</a>
                    </li>
                </ul>
            </div>
            <div class="adBotLB">
                <div id="div-gpt-ad-1589913000288-0">
                    <script>
                        googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589913000288-0'); });
                    </script>
                </div>
            </div>
        </article>
    </div>
</div>
<div id="right">
    <h5><a href="https://fileinfo.com/software/">Software</a> | <a href="https://fileinfo.com/help/">Help</a></h5>
    <div class="adRightSky" style="">
        <div id="div-gpt-ad-1589922228072-0">
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589922228072-0'); });
            </script>
        </div>
    </div>
</div>