<div id="lwrap">
    <div id="left">
        <h5><a routerLink="/">Home</a> : <a routerLink="/browse">Browse</a> : {{letter}} File Extensions</h5>
        <h1 class="h2"><a routerLink="/browse" class="medCircle">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m6 5c-1.105469 0-2 .894531-2 2s.894531 2 2 2 2-.894531 2-2-.894531-2-2-2zm5 1v2h17v-2zm-5 8c-1.105469 0-2 .894531-2 2s.894531 2 2 2 2-.894531 2-2-.894531-2-2-2zm5 1v2h17v-2zm-5 8c-1.105469 0-2 .894531-2 2s.894531 2 2 2 2-.894531 2-2-.894531-2-2-2zm5 1v2h17v-2z">
                    </path>
                </svg></a>{{letter}} File Extensions</h1>
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <table class="slist browselist dataTable no-footer" data-sort="2" id="DataTables_Table_0" role="grid">
                <thead>
                    <tr role="row">
                        <th (click)="sort('name')" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                            rowspan="1" colspan="1" aria-label="File Extension: activate to sort column ascending"
                            style="width: 157px;">File
                            Extension&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('name')" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                            rowspan="1" colspan="1" aria-label="File Type: activate to sort column ascending"
                            style="width: 401px;">
                            File Type&nbsp;<i class="fa fa-sort"></i>
                        </th>
                        <th (click)="sort('popularity')" class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                            rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Popularity: activate to sort column descending" style="width: 120px;">Popularity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let type of ex_list" [ngClass]="[type.rate_class]">
                        <td><a [routerLink]="['/extension', type.id]">{{type.name}}</a></td>
                        <td>{{type.type}}</td>
                        <td class="sorting_1"><span class="hidden">187</span><span class="rtg"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="adBotLB">
            <div id="div-gpt-ad-1589913000288-0">
                <script>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589913000288-0'); });
                </script>
            </div>
        </div>
    </div>
</div>
<div id="right">
    <h5>Browse Alphabetically</h5>
    <ul class="anav">
        <li>
            <a routerLink="/list/1">#</a>
        </li>
        <li *ngFor="let el of alphabet">
            <a [routerLink]="['/list', el]">{{el}}</a>
        </li>
    </ul>
    <div class="adRightSky" style="">
        <div id="div-gpt-ad-1589922228072-0">
            <script>
                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1589922228072-0'); });
            </script>
        </div>
    </div>
</div>